body {
    font-family: Arial, sans-serif;
  }
  
/* Subscribe button styles */
.subscribe-btn {
    background-color: #1e90ff;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .subscribe-btn:hover {
    background-color: #0f78d4;
  }
  